<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect old-domain to new-domain" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www.bdoplzen.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.bdo.cz/" redirectType="Found" />
                </rule>              
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
